<div id="diescreen">
    <p>You Died!</p>
    <input id="respawn" type="button" value="Respawn" onclick="btnRespawn()" />
</div>

<div id="pausescreen">
    <p>Game Paused</p>
</div>

<div id="quest">
    <p id="que-txt">Quests</p>
    <div id="que-content-wrapper">
        <!----><p id="que-1">HOLD</p>
        <!----><p id="que-2">HOLD</p>
        <!----><p id="que-3">HOLD</p>
        <!----><p id="que-4">HOLD</p>
        <!----><p id="que-5">HOLD</p>
        <!----><p id="que-6">HOLD</p>
        <!----><p id="que-7">HOLD</p>
        <!----><p id="que-8">HOLD</p>
        <!---->
    </div>
</div>

<div id="map">MAP <br> SOLID OBJECT</div>

<div id="inventory">
    <p id="inv-txt">Inventory</p>
    <div id="inv-content-wrapper">
        <!----><div class="invSpot"></div><div class="invSpot"></div><div class="invSpot"></div><div class="invSpot"></div>
        <!----><div class="invSpot"></div><div class="invSpot"></div><div class="invSpot"></div><div class="invSpot"></div>
        <!----><div class="invSpot"></div><div class="invSpot"></div><div class="invSpot"></div><div class="invSpot"></div>
        <!----><div class="invSpot"></div><div class="invSpot"></div><div class="invSpot"></div><div class="invSpot"></div>
        <!----><div class="invSpot"></div><div class="invSpot"></div><div class="invSpot"></div><div class="invSpot"></div>
        <!---->
    </div>
</div>

<div id="stats">
    <div id="health-wrapper">
        <p id="health-txt">Health</p>
        <meter value="0" min="0" optimum="50" max="100" title="HP" id="healthbar"></meter>
    </div>
    <p id="xpperlevel"></p>
    <div id="level-wrapper">
        <p id="level-txt"></p>
    </div>
    <progress id="playerxp" value="0" max="1000"></progress>
</div>

<div id="dialogue"><p>DIALOGUE <br> INFORMATION OBJECT (POP-UP)</p></div>

<div id="toolbar">
    <div class="toolbar-icon" id="inventory-icon" onclick="inventory_icon()">INV</div>
    <div class="toolbar-icon" id="quest-icon" onclick="quest_icon()">QUEST</div>
    <div class="toolbar-icon" id="holder">HOLD</div>
    <div class="toolbar-icon" id="holder">HOLD</div>
    <div class="toolbar-icon" id="holder">HOLD</div>
    <div class="toolbar-icon" id="holder">HOLD</div>
</div>
<div id="main-menu">
    <ul>
        <li><a><input id="btnSaveGame" type="button" value="Save Game" onclick="btnSaveGame_onclick()" /></a></li>
        <li><a>Item 2</a></li>
        <li><a>Item 3</a></li>
        <li><a>Item 4</a></li>
    </ul>
</div>